AddType application/javascript .js
AddType text/css .css
AddType image/png .png
AddType image/jpeg .jpg
AddType image/gif .gif
AddType application/json .json
AddType text/html .html

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Si el archivo o directorio existe, úsalo directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # De lo contrario, redirige todo a index.html
    RewriteRule ^ index.html [L]
</IfModule>
